[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
schematics = "*"

[dev-packages]
xmltojson = {editable = true, git = "https://github.com/Diggsey/python-xmltojson.git"}

[requires]
python_version = "3.6"
